<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table th:each="job : ${jobs}"  class="job-listing">
        <tr th:each="column : ${job}">
            <td><a th:href="@{/list/jobs(column=${column.key},value=${column.value})}" th:text="${column.value}"></a></td>
        </tr>
    </table>

    <!-- TODO #3 - Use the same list display from search.html- Complete -->

</div>

</body>
</html>